<!DOCTYPE html>
<html ng-app="testApp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="hue-proxy-client.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body>

<div ng-controller="TestController as test">
<ul>
	<li ng-repeat="light in test.getLights()" ng-show="light != null">
		<h4>Name: {{light.name}}</h4>
		<h4 ng-show="test.getStateFromLight(light)">State: {{light.state}}</h4>
	</li>
</ul>
<label for="lightId_input">Light ID:</label>
<input type="text" id="lightId_input" ng-model="test.lightId"></input>

<form ng-submit="test.triggerService(test.lightId)">
	<input type="submit" value="Retrieve light"/>
</form>
<form ng-submit="test.getLights()">
	<input type="submit" value="Get lights"/>
</form>
</div>
</body>
</html>